@font-face {
	font-family: "Playfair";
	font-weight: 400;
	src: url('./PlayfairDisplay-Medium.ttf') format('truetype');
}

@font-face {
	font-family: "Playfair";
	font-weight: bold;
	src: url('./PlayfairDisplay-Black.ttf') format('truetype');
}
@font-face {
	font-family: "Playfair Italic";
	font-weight: 400;
	src: url('./PlayfairDisplay-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: "Playfair Black Italic";
	font-weight: bold;
	src: url('./PlayfairDisplay-BlackItalic.ttf') format('truetype');
}